*{
    background-color: hsl(210, 14%, 80%);
    font-family: "Arial", sans-serif;
}

h1{
    padding: 1rem 0; 
    background-color: hsl(250, 50%, 40%);
    border-bottom: 4px solid hsl(280, 50%, 50%);
    color: hsl(300, 50%, 90%);
}

h2{
    font-size: x-large;
}

p li{
    font-size: medium;
}
